/* Write your CSS here */
.app-container {
  margin-left: 50px;
  margin-right: 50px;
}
.symbol-para-container {
  display: flex;
  font-family: Roboto;
}
.heading {
  text-align: center;
  font-size: 50px;
  font-family: Roboto;
}
.success-symbol {
  font-size: 25px;
  color: #2dca73;
  margin-top: 53px;
}
.error-symbol {
  font-size: 25px;
  color: #ff0b37;
  margin-top: 53px;
}
.warning-symbol {
  font-size: 25px;
  color: #ffb800;
  margin-top: 53px;
}
.info-symbol {
  font-size: 25px;
  color: #0f81e0;
  margin-top: 53px;
}
.para-container {
  margin: 20px;
}
.warning-heading {
  color: #ffb800;
}

.error-heading {
  color: #ff0b37;
}
.success-heading {
  color: #2dca73;
}
.info-heading {
  color: #0f81e0;
}
.description {
  color: #64748b;
}
.close {
  font-size: 25px;
  color: #0f172a;
}
